[font]
size = 12.0

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"

[terminal]

[terminal.shell]
program = "{{ .chezmoi.homeDir }}/.nix-profile/bin/fish"
args = ["-i", "-c", "exec zellij -l welcome"]
