# Docker Desktop (credential helper binaries: docker-credential-desktop, etc.)
{{- if stat "/Applications/Docker.app/Contents/Resources/bin" }}
set -gx PATH $PATH /Applications/Docker.app/Contents/Resources/bin
{{- end }}
