{{- if .work }}
set -gx GITHUB_TOKEN {{ onepasswordRead "op://Private/2g6ldw7nu5hevfydblhk5oevv4/Tokens/Work" | quote }}
set -gx HOMEBREW_GITHUB_API_TOKEN {{ onepasswordRead "op://Private/2g6ldw7nu5hevfydblhk5oevv4/Tokens/Work Homebrew" | quote }}
{{- end }}
