# Python
{{- if stat (printf "%s/Library/Python/3.9/bin" .chezmoi.homeDir) }}
set -gx PATH $PATH "$HOME/Library/Python/3.9/bin"
{{- end }}
alias python="python3"
alias pip="pip3"
#set PKG_CONFIG_PATH "/usr/local/lib/pkgconfig:/opt/homebrew/lib/pkgconfig:$PKG_CONFIG_PATH"
